<div class="auth-wrapper mx-3 my-3">
  <div class="card shadow-lg my-3 py-3 px-3">
  <form class="form-signin ms-3" [formGroup]="signinForm" (ngSubmit)="loginUser()">
    <h3 class="h3 my-3 font-weight-normal">Veuillez vous connecter</h3>
    <div class="form-group my-3">
      <label class="my-1">Nom d'utilisateur</label>
      <input
        type="text"
        class="form-control"
        formControlName="username"
        placeholder="Nom d'utilisateur"
        required
      />
    </div>
    <div class="form-group mt-3">
      <label class="my-1">Mot de passe</label>
      <input
        type="password"
        class="form-control"
        formControlName="password"
        placeholder="Mot de passe"
      />
    </div>
    <button type="submit" class="btn btn-block btn-primary mt-3 btn-dark rounded-pill">Connexion</button>
  </form>
  </div>
</div>
