<div class="container">
  <div class="row">
    <!--1ere row de stat-cards-->
    <div class="col-4 my-2">
      <app-stat-card></app-stat-card>
    </div>
    <div class="col-4 my-2">
      <app-stat-card></app-stat-card>
    </div>
    <div class="col-4 my-2">
      <app-stat-card></app-stat-card>
    </div>

    <!--2eme row de stat-cards-->
    <div class="col-4 my-2">
      <app-stat-card></app-stat-card>
    </div>
    <div class="col-4 my-2">
      <app-stat-card></app-stat-card>
    </div>
    <div class="col-4 my-2">
      <app-stat-card></app-stat-card>
    </div>

    <!--Row du tableau des meilleures ventes-->
    <app-product-table class="my-2"></app-product-table>

    <!--Row des diagrammes "camembert"-->
    <div class="col-4 my-2">
      <app-diagramm-card></app-diagramm-card>
    </div>
    <div class="col-4 my-2">
      <app-diagramm-card></app-diagramm-card>
    </div>
    <div class="col-4 my-2">
      <app-diagramm-card></app-diagramm-card>
    </div>
  </div>
</div>
